i.icon.icon-sign {
    width: 36px;
    height: 49px;
    background-image: url("../img/sign.png");
}
.navbar-bg {
    background: #ffffff;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1OCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #ffffff), color-stop(99%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 58%, #ededed 99%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-8 */
    height: 54px;
}
.titulo-evento {
    padding: 10px;
    background-color: #0956A6;
    color: white;
    font-weight: bold;
    font-family: Calibri;
    text-align: center;
}
.item-content {
    min-height: 54px;
}
.item-inner {
    border-bottom: 1px solid #FFFFFF
}
.subTitle {
    margin-top: 10px;
    background-color: #424147;
    color:#fff;
    padding:10px;
    font-weight:bold;
}

.paddings30 {
    padding-left:30px;
    padding-right: 30px;
    
}

.form-content {
    padding-left: 12px;
    padding-right: 12px;
        
}

.divider {
    
    background-color:#424147;
    height: auto;
    padding-bottom: 5px;
}







.message-sent {
  /*-ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;*/
  -webkit-align-items: flex-end;
  /*align-items: flex-end;*/
}

.message {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 10px 0;
  /*max-width: 70%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  /*display: -webkit-flex;*/
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
