i.icon.icon-sign {
    width: 36px;
    height: 49px;
    background-image: url("../img/sign.png");
}
.navbar-bg {
    background: #ffffff;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1OCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #ffffff), color-stop(99%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 58%, #ededed 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 58%, #ededed 99%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-8 */
    height: 54px;
}
.titulo-evento {
    padding: 10px;
    background-color: #0956A6;
    color: white;
    font-weight: bold;
    font-family: Calibri;
    text-align: center;
}
.item-content {
    min-height: 54px;
}
.item-inner {
    border-bottom: 1px solid #FFFFFF
}
.subTitle {
    margin-top: 10px;
    background-color: #424147;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
.paddings30 {
    padding-left: 30px;
    padding-right: 30px;
}
.form-content {
    padding-left: 12px;
    padding-right: 12px;
}
.divider {
    background-color: #424147;
    height: auto;
    padding-bottom: 5px;
}
.message-sent {
    /*-ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;*/
}
.message {
    /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
    margin: 5px 10px 0;
    /*max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  /*display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
    flex-direction: row;
    -webkit-flex-direction: row;*/
}
.message-sen {
    padding-right: 22px;
    background-color: #00d449;
    color: #fff;
    margin-left: auto;
}
.message-sen.message-last .message-text,
.message-sen.message-with-tail .message-text {
    border-radius: 16px 16px 0 16px;
    -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' widt…8 42 35z'/><path d='m96 70c-6-2-12-10-12-19v-16l-14 27s8 8 26 8z'/></svg>") 50% 56% 46% 42%;
}
.chatbubble {
    position: relative;
    min-width: 50px;
    max-width: 240px;
    min-height: 50px;
    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: #7F7F7F solid 1px;
    margin: 5px;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .1);
}
.chatbubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 9px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -9px;
    top: 18px;
}
.chatbubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 9px;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    right: -10px;
    top: 18px;
}
CSS .chatbubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 9px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -9px;
    top: 18px;
}
.avatar {
    width: 50px;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}
.chatname {
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px
}
input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 2rem;
    margin: 0 -2rem -2rem 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 2rem;
    opacity: 0.001;
}
.topcoat-radio-button__label {
    display: inline-block;
    line-height: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.topcoat-radio-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Background */

.topcoat-radio-button:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    background: #e5e9e9;
    border: 1px solid #a5a8a8;
    border-radius: 100%;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
}
/* Checkmark */

.topcoat-radio-button:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-45%, -50%);
    background: #666666;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 1px rgba(255, 255, 255, 0.50);
}
input[type=radio]:checked + .topcoat-radio-button:after {
    opacity: 1;
}
:focus + .topcoat-radio-button:before {
    border: 1px solid #333;
    -webkit-box-shadow: 0 0 0 2px #ddd;
    box-shadow: 0 0 0 2px #bababa;
}